# Usage:
# Copy this file as `.env` and fill in the variables below as instructed.

# The path of the Zotero binary file.
# The path delimiter should be escaped as `\\` for win32.
ZOTERO_PLUGIN_ZOTERO_BIN_PATH = /path/to/zotero.exe

# The path of the profile used for development.
ZOTERO_PLUGIN_PROFILE_PATH = /path/to/profile

# The directory where the database is located.
ZOTERO_PLUGIN_DATA_DIR =

# Custom commands to kill Zotero processes.
# ZOTERO_PLUGIN_KILL_COMMAND =